@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my C# - MySQL Project.</h1>
    <p>This project was part of my C# course at NSCC. It uses real data from NSCC courses, programs and instructor to display who is the current advisor for a specific program.</p>
</div>
